<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moondev.spider.mapper.CashFlowStatementMapper">

    <resultMap id="prospectusMap" type="cn.moondev.spider.model.CashFlowStatement">
        <id column="id" property="id"/>
        <result column="date_type" property="dateType"/>
        <result column="security_code" property="securityCode"/>
        <result column="report_date" property="reportDate"/>
        <result column="stock_type" property="stockType"/>
        <result column="cash_in_sale_good_labour_service" property="cashInSaleGoodLabourService"/>
        <result column="net_increase_in_deposit" property="netIncreaseInDeposit"/>
        <result column="net_increase_in_loan_from_bank" property="netIncreaseInLoanFromBank"/>
        <result column="net_increase_in_loan_from_bank_institution" property="netIncreaseInLoanFromBankInstitution"/>
        <result column="cash_in_original_insurance_contract" property="cashInOriginalInsuranceContract"/>
        <result column="net_cash_in_reinsure" property="netCashInReinsure"/>
        <result column="net_increase_deposit_investment" property="netIncreaseDepositInvestment"/>
        <result column="net_increase_in_financial_asset" property="netIncreaseInFinancialAsset"/>
        <result column="cash_in_interest_commission" property="cashInInterestCommission"/>
        <result column="net_increase_borrow_fund" property="netIncreaseBorrowFund"/>
        <result column="net_reduce_loan_advances" property="netReduceLoanAdvances"/>
        <result column="net_increase_buyback_foud" property="netIncreaseBuybackFoud"/>
        <result column="tax_return" property="taxReturn"/>
        <result column="cash_in_other_business" property="cashInOtherBusiness"/>
        <result column="sum_cash_revenue" property="sumCashRevenue"/>
        <result column="buy_good_labour_service_payable" property="buyGoodLabourServicePayable"/>
        <result column="net_increase_in_loan_advances" property="netIncreaseInLoanAdvances"/>
        <result column="net_increase_in_deposit_in_bank" property="netIncreaseInDepositInBank"/>
        <result column="insurance_contract_payable" property="insuranceContractPayable"/>
        <result column="interest_commission_payable" property="interestCommissionPayable"/>
        <result column="dividend_payable" property="dividendPayable"/>
        <result column="employee_payable" property="employeePayable"/>
        <result column="tax_payable" property="taxPayable"/>
        <result column="other_business_payable" property="otherBusinessPayable"/>
        <result column="sum_cash_payable" property="sumCashPayable"/>
        <result column="net_cash_in_business" property="netCashInBusiness"/>
        <result column="operating_cash_in_other" property="operatingCashInOther"/>
        <result column="operating_cash_in_balance" property="operatingCashInBalance"/>
        <result column="operating_cash_out_other" property="operatingCashOutOther"/>
        <result column="operating_cash_out_balance" property="operatingCashOutBalance"/>
        <result column="operating_net_cash_other" property="operatingNetCashOther"/>
        <result column="operating_net_cash_balance" property="operatingNetCashBalance"/>
        <result column="cash_by_investment" property="cashByInvestment"/>
        <result column="cash_by_investment_received" property="cashByInvestmentReceived"/>
        <result column="cash_by_dispose_asset" property="cashByDisposeAsset"/>
        <result column="cash_by_dispose_subsidiary" property="cashByDisposeSubsidiary"/>
        <result column="cash_by_reduce_pledge_and_deposit" property="cashByReducePledgeAndDeposit"/>
        <result column="cash_by_other_investment" property="cashByOtherInvestment"/>
        <result column="sum_investment_revenue" property="sumInvestmentRevenue"/>
        <result column="buy_asset_payable" property="buyAssetPayable"/>
        <result column="investment_payable" property="investmentPayable"/>
        <result column="net_increase_in_pledge_loan" property="netIncreaseInPledgeLoan"/>
        <result column="get_subsidiary_payable" property="getSubsidiaryPayable"/>
        <result column="cash_by_add_pledge_and_deposit" property="cashByAddPledgeAndDeposit"/>
        <result column="other_investment_payable" property="otherInvestmentPayable"/>
        <result column="sum_investment_payable" property="sumInvestmentPayable"/>
        <result column="net_cash_in_investment" property="netCashInInvestment"/>
        <result column="invest_cash_in_other" property="investCashInOther"/>
        <result column="invest_cash_in_balance" property="investCashInBalance"/>
        <result column="invest_cash_out_other" property="investCashOutOther"/>
        <result column="invest_cash_out_balance" property="investCashOutBalance"/>
        <result column="invest_net_cash_other" property="investNetCashOther"/>
        <result column="invest_net_cash_balance" property="investNetCashBalance"/>
        <result column="cash_by_accept_investment" property="cashByAcceptInvestment"/>
        <result column="cash_by_accept_subsidiary" property="cashByAcceptSubsidiary"/>
        <result column="cash_by_loan" property="cashByLoan"/>
        <result column="cash_by_issuance_of_bonds" property="cashByIssuanceOfBonds"/>
        <result column="cash_by_other_financing" property="cashByOtherFinancing"/>
        <result column="sum_financing_revenue" property="sumFinancingRevenue"/>
        <result column="repayment_debt_payable" property="repaymentDebtPayable"/>
        <result column="dividend_profit_interest_payable" property="dividendProfitInterestPayable"/>
        <result column="subsidiary_payable" property="subsidiaryPayable"/>
        <result column="buy_subsidiary_payable" property="buySubsidiaryPayable"/>
        <result column="other_financing_payable" property="otherFinancingPayable"/>
        <result column="subsidiary_reduce_capital" property="subsidiaryReduceCapital"/>
        <result column="sum_financing_payable" property="sumFinancingPayable"/>
        <result column="net_cash_in_financing" property="netCashInFinancing"/>
        <result column="financing_cash_in_other" property="financingCashInOther"/>
        <result column="financing_cash_in_balance" property="financingCashInBalance"/>
        <result column="financing_cash_out_other" property="financingCashOutOther"/>
        <result column="financing_cash_out_balance" property="financingCashOutBalance"/>
        <result column="financing_net_cash_other" property="financingNetCashOther"/>
        <result column="financing_net_cash_balance" property="financingNetCashBalance"/>
        <result column="effect_exchange_rate" property="effectExchangeRate"/>
        <result column="net_increase_in_cash_equi" property="netIncreaseInCashEqui"/>
        <result column="cash_in_period_beginning" property="cashInPeriodBeginning"/>
        <result column="cash_in_period_ending" property="cashInPeriodEnding"/>
        <result column="net_increase_in_cash_equi_other" property="netIncreaseInCashEquiOther"/>
        <result column="net_increase_in_cash_equi_balance" property="netIncreaseInCashEquiBalance"/>
        <result column="cash_in_period_ending_other" property="cashInPeriodEndingOther"/>
        <result column="cash_in_period_ending_balance" property="cashInPeriodEndingBalance"/>
        <result column="net_profit" property="netProfit"/>
        <result column="asset_reduce_value" property="assetReduceValue"/>
        <result column="fixed_estate_asset_depreciation" property="fixedEstateAssetDepreciation"/>
        <result column="fixed_gass_production_asset_depr" property="fixedGassProductionAssetDepr"/>
        <result column="estate_invest_depr" property="estateInvestDepr"/>
        <result column="amortization_of_intangible_asset" property="amortizationOfIntangibleAsset"/>
        <result column="amortization_of_long_term_expense" property="amortizationOfLongTermExpense"/>
        <result column="amortization_of_deferred_income" property="amortizationOfDeferredIncome"/>
        <result column="reduced_cost_of_apportioned" property="reducedCostOfApportioned"/>
        <result column="drawing_expense_add" property="drawingExpenseAdd"/>
        <result column="loss_on_disponse_assert" property="lossOnDisponseAssert"/>
        <result column="loss_on_fixed_asset" property="lossOnFixedAsset"/>
        <result column="loss_on_fair_value" property="lossOnFairValue"/>
        <result column="financial_expense" property="financialExpense"/>
        <result column="loss_on_invest" property="lossOnInvest"/>
        <result column="deferred_income_tax" property="deferredIncomeTax"/>
        <result column="deferred_income_tax_reduction" property="deferredIncomeTaxReduction"/>
        <result column="deferred_income_tax_liab_add" property="deferredIncomeTaxLiabAdd"/>
        <result column="anticipate_liab_add" property="anticipateLiabAdd"/>
        <result column="inventory_reduce" property="inventoryReduce"/>
        <result column="operating_reduce" property="operatingReduce"/>
        <result column="operating_pay_add" property="operatingPayAdd"/>
        <result column="net_cash_of_operating_other_sup" property="netCashOfOperatingOtherSup"/>
        <result column="net_cash_of_operating_balance_sup" property="netCashOfOperatingBalanceSup"/>
        <result column="net_cash_of_operating" property="netCashOfOperating"/>
        <result column="debt_to_capital" property="debtToCapital"/>
        <result column="cboneyear" property="cboneyear"/>
        <result column="fixed_asset_under_financing_lease" property="fixedAssetUnderFinancingLease"/>
        <result column="no_refer_cash_other" property="noReferCashOther"/>
        <result column="period_ending_cash" property="periodEndingCash"/>
        <result column="period_beginning_cash" property="periodBeginningCash"/>
        <result column="period_ending_money_equivalent" property="periodEndingMoneyEquivalent"/>
        <result column="period_beginning_money_equivalent" property="periodBeginningMoneyEquivalent"/>
        <result column="money_equivalent_other" property="moneyEquivalentOther"/>
        <result column="money_equivalent_balance" property="moneyEquivalentBalance"/>
        <result column="money_equivalent_net_add" property="moneyEquivalentNetAdd"/>
    </resultMap>

    <insert id="upsert">
        INSERT INTO t_cash_flow_statement(
        security_code,
        report_date,
        date_type,
        stock_type,
        cash_in_sale_good_labour_service,
        net_increase_in_deposit,
        net_increase_in_loan_from_bank,
        net_increase_in_loan_from_bank_institution,
        cash_in_original_insurance_contract,
        net_cash_in_reinsure,
        net_increase_deposit_investment,
        net_increase_in_financial_asset,
        cash_in_interest_commission,
        net_increase_borrow_fund,
        net_reduce_loan_advances,
        net_increase_buyback_foud,
        tax_return,
        cash_in_other_business,
        sum_cash_revenue,
        buy_good_labour_service_payable,
        net_increase_in_loan_advances,
        net_increase_in_deposit_in_bank,
        insurance_contract_payable,
        interest_commission_payable,
        dividend_payable,
        employee_payable,
        tax_payable,
        other_business_payable,
        sum_cash_payable,
        net_cash_in_business,
        operating_cash_in_other,
        operating_cash_in_balance,
        operating_cash_out_other,
        operating_cash_out_balance,
        operating_net_cash_other,
        operating_net_cash_balance,
        cash_by_investment,
        cash_by_investment_received,
        cash_by_dispose_asset,
        cash_by_dispose_subsidiary,
        cash_by_reduce_pledge_and_deposit,
        cash_by_other_investment,
        sum_investment_revenue,
        buy_asset_payable,
        investment_payable,
        net_increase_in_pledge_loan,
        get_subsidiary_payable,
        cash_by_add_pledge_and_deposit,
        other_investment_payable,
        sum_investment_payable,
        net_cash_in_investment,
        invest_cash_in_other,
        invest_cash_in_balance,
        invest_cash_out_other,
        invest_cash_out_balance,
        invest_net_cash_other,
        invest_net_cash_balance,
        cash_by_accept_investment,
        cash_by_accept_subsidiary,
        cash_by_loan,
        cash_by_issuance_of_bonds,
        cash_by_other_financing,
        sum_financing_revenue,
        repayment_debt_payable,
        dividend_profit_interest_payable,
        subsidiary_payable,
        buy_subsidiary_payable,
        other_financing_payable,
        subsidiary_reduce_capital,
        sum_financing_payable,
        net_cash_in_financing,
        financing_cash_in_other,
        financing_cash_in_balance,
        financing_cash_out_other,
        financing_cash_out_balance,
        financing_net_cash_other,
        financing_net_cash_balance,
        effect_exchange_rate,
        net_increase_in_cash_equi,
        cash_in_period_beginning,
        cash_in_period_ending,
        net_increase_in_cash_equi_other,
        net_increase_in_cash_equi_balance,
        cash_in_period_ending_other,
        cash_in_period_ending_balance,
        net_profit,
        asset_reduce_value,
        fixed_estate_asset_depreciation,
        fixed_gass_production_asset_depr,
        estate_invest_depr,
        amortization_of_intangible_asset,
        amortization_of_long_term_expense,
        amortization_of_deferred_income,
        reduced_cost_of_apportioned,
        drawing_expense_add,
        loss_on_disponse_assert,
        loss_on_fixed_asset,
        loss_on_fair_value,
        financial_expense,
        loss_on_invest,
        deferred_income_tax,
        deferred_income_tax_reduction,
        deferred_income_tax_liab_add,
        anticipate_liab_add,
        inventory_reduce,
        operating_reduce,
        operating_pay_add,
        net_cash_of_operating_other_sup,
        net_cash_of_operating_balance_sup,
        net_cash_of_operating,
        debt_to_capital,
        cboneyear,
        fixed_asset_under_financing_lease,
        no_refer_cash_other,
        period_ending_cash,
        period_beginning_cash,
        period_ending_money_equivalent,
        period_beginning_money_equivalent,
        money_equivalent_other,
        money_equivalent_balance,
        money_equivalent_net_add
) VALUES (
        #{item.securityCode},
        #{item.reportDate},
        #{item.dateType},
        #{item.stockType},
        #{item.cashInSaleGoodLabourService},
        #{item.netIncreaseInDeposit},
        #{item.netIncreaseInLoanFromBank},
        #{item.netIncreaseInLoanFromBankInstitution},
        #{item.cashInOriginalInsuranceContract},
        #{item.netCashInReinsure},
        #{item.netIncreaseDepositInvestment},
        #{item.netIncreaseInFinancialAsset},
        #{item.cashInInterestCommission},
        #{item.netIncreaseBorrowFund},
        #{item.netReduceLoanAdvances},
        #{item.netIncreaseBuybackFoud},
        #{item.taxReturn},
        #{item.cashInOtherBusiness},
        #{item.sumCashRevenue},
        #{item.buyGoodLabourServicePayable},
        #{item.netIncreaseInLoanAdvances},
        #{item.netIncreaseInDepositInBank},
        #{item.insuranceContractPayable},
        #{item.interestCommissionPayable},
        #{item.dividendPayable},
        #{item.employeePayable},
        #{item.taxPayable},
        #{item.otherBusinessPayable},
        #{item.sumCashPayable},
        #{item.netCashInBusiness},
        #{item.operatingCashInOther},
        #{item.operatingCashInBalance},
        #{item.operatingCashOutOther},
        #{item.operatingCashOutBalance},
        #{item.operatingNetCashOther},
        #{item.operatingNetCashBalance},
        #{item.cashByInvestment},
        #{item.cashByInvestmentReceived},
        #{item.cashByDisposeAsset},
        #{item.cashByDisposeSubsidiary},
        #{item.cashByReducePledgeAndDeposit},
        #{item.cashByOtherInvestment},
        #{item.sumInvestmentRevenue},
        #{item.buyAssetPayable},
        #{item.investmentPayable},
        #{item.netIncreaseInPledgeLoan},
        #{item.getSubsidiaryPayable},
        #{item.cashByAddPledgeAndDeposit},
        #{item.otherInvestmentPayable},
        #{item.sumInvestmentPayable},
        #{item.netCashInInvestment},
        #{item.investCashInOther},
        #{item.investCashInBalance},
        #{item.investCashOutOther},
        #{item.investCashOutBalance},
        #{item.investNetCashOther},
        #{item.investNetCashBalance},
        #{item.cashByAcceptInvestment},
        #{item.cashByAcceptSubsidiary},
        #{item.cashByLoan},
        #{item.cashByIssuanceOfBonds},
        #{item.cashByOtherFinancing},
        #{item.sumFinancingRevenue},
        #{item.repaymentDebtPayable},
        #{item.dividendProfitInterestPayable},
        #{item.subsidiaryPayable},
        #{item.buySubsidiaryPayable},
        #{item.otherFinancingPayable},
        #{item.subsidiaryReduceCapital},
        #{item.sumFinancingPayable},
        #{item.netCashInFinancing},
        #{item.financingCashInOther},
        #{item.financingCashInBalance},
        #{item.financingCashOutOther},
        #{item.financingCashOutBalance},
        #{item.financingNetCashOther},
        #{item.financingNetCashBalance},
        #{item.effectExchangeRate},
        #{item.netIncreaseInCashEqui},
        #{item.cashInPeriodBeginning},
        #{item.cashInPeriodEnding},
        #{item.netIncreaseInCashEquiOther},
        #{item.netIncreaseInCashEquiBalance},
        #{item.cashInPeriodEndingOther},
        #{item.cashInPeriodEndingBalance},
        #{item.netProfit},
        #{item.assetReduceValue},
        #{item.fixedEstateAssetDepreciation},
        #{item.fixedGassProductionAssetDepr},
        #{item.estateInvestDepr},
        #{item.amortizationOfIntangibleAsset},
        #{item.amortizationOfLongTermExpense},
        #{item.amortizationOfDeferredIncome},
        #{item.reducedCostOfApportioned},
        #{item.drawingExpenseAdd},
        #{item.lossOnDisponseAssert},
        #{item.lossOnFixedAsset},
        #{item.lossOnFairValue},
        #{item.financialExpense},
        #{item.lossOnInvest},
        #{item.deferredIncomeTax},
        #{item.deferredIncomeTaxReduction},
        #{item.deferredIncomeTaxLiabAdd},
        #{item.anticipateLiabAdd},
        #{item.inventoryReduce},
        #{item.operatingReduce},
        #{item.operatingPayAdd},
        #{item.netCashOfOperatingOtherSup},
        #{item.netCashOfOperatingBalanceSup},
        #{item.netCashOfOperating},
        #{item.debtToCapital},
        #{item.cboneyear},
        #{item.fixedAssetUnderFinancingLease},
        #{item.noReferCashOther},
        #{item.periodEndingCash},
        #{item.periodBeginningCash},
        #{item.periodEndingMoneyEquivalent},
        #{item.periodBeginningMoneyEquivalent},
        #{item.moneyEquivalentOther},
        #{item.moneyEquivalentBalance},
        #{item.moneyEquivalentNetAdd}
)ON DUPLICATE KEY UPDATE
        stock_type = VALUES(stock_type),
        cash_in_sale_good_labour_service = VALUES(cash_in_sale_good_labour_service),
        net_increase_in_deposit = VALUES(net_increase_in_deposit),
        net_increase_in_loan_from_bank = VALUES(net_increase_in_loan_from_bank),
        net_increase_in_loan_from_bank_institution = VALUES(net_increase_in_loan_from_bank_institution),
        cash_in_original_insurance_contract = VALUES(cash_in_original_insurance_contract),
        net_cash_in_reinsure = VALUES(net_cash_in_reinsure),
        net_increase_deposit_investment = VALUES(net_increase_deposit_investment),
        net_increase_in_financial_asset = VALUES(net_increase_in_financial_asset),
        cash_in_interest_commission = VALUES(cash_in_interest_commission),
        net_increase_borrow_fund = VALUES(net_increase_borrow_fund),
        net_reduce_loan_advances = VALUES(net_reduce_loan_advances),
        net_increase_buyback_foud = VALUES(net_increase_buyback_foud),
        tax_return = VALUES(tax_return),
        cash_in_other_business = VALUES(cash_in_other_business),
        sum_cash_revenue = VALUES(sum_cash_revenue),
        buy_good_labour_service_payable = VALUES(buy_good_labour_service_payable),
        net_increase_in_loan_advances = VALUES(net_increase_in_loan_advances),
        net_increase_in_deposit_in_bank = VALUES(net_increase_in_deposit_in_bank),
        insurance_contract_payable = VALUES(insurance_contract_payable),
        interest_commission_payable = VALUES(interest_commission_payable),
        dividend_payable = VALUES(dividend_payable),
        employee_payable = VALUES(employee_payable),
        tax_payable = VALUES(tax_payable),
        other_business_payable = VALUES(other_business_payable),
        sum_cash_payable = VALUES(sum_cash_payable),
        net_cash_in_business = VALUES(net_cash_in_business),
        operating_cash_in_other = VALUES(operating_cash_in_other),
        operating_cash_in_balance = VALUES(operating_cash_in_balance),
        operating_cash_out_other = VALUES(operating_cash_out_other),
        operating_cash_out_balance = VALUES(operating_cash_out_balance),
        operating_net_cash_other = VALUES(operating_net_cash_other),
        operating_net_cash_balance = VALUES(operating_net_cash_balance),
        cash_by_investment = VALUES(cash_by_investment),
        cash_by_investment_received = VALUES(cash_by_investment_received),
        cash_by_dispose_asset = VALUES(cash_by_dispose_asset),
        cash_by_dispose_subsidiary = VALUES(cash_by_dispose_subsidiary),
        cash_by_reduce_pledge_and_deposit = VALUES(cash_by_reduce_pledge_and_deposit),
        cash_by_other_investment = VALUES(cash_by_other_investment),
        sum_investment_revenue = VALUES(sum_investment_revenue),
        buy_asset_payable = VALUES(buy_asset_payable),
        investment_payable = VALUES(investment_payable),
        net_increase_in_pledge_loan = VALUES(net_increase_in_pledge_loan),
        get_subsidiary_payable = VALUES(get_subsidiary_payable),
        cash_by_add_pledge_and_deposit = VALUES(cash_by_add_pledge_and_deposit),
        other_investment_payable = VALUES(other_investment_payable),
        sum_investment_payable = VALUES(sum_investment_payable),
        net_cash_in_investment = VALUES(net_cash_in_investment),
        invest_cash_in_other = VALUES(invest_cash_in_other),
        invest_cash_in_balance = VALUES(invest_cash_in_balance),
        invest_cash_out_other = VALUES(invest_cash_out_other),
        invest_cash_out_balance = VALUES(invest_cash_out_balance),
        invest_net_cash_other = VALUES(invest_net_cash_other),
        invest_net_cash_balance = VALUES(invest_net_cash_balance),
        cash_by_accept_investment = VALUES(cash_by_accept_investment),
        cash_by_accept_subsidiary = VALUES(cash_by_accept_subsidiary),
        cash_by_loan = VALUES(cash_by_loan),
        cash_by_issuance_of_bonds = VALUES(cash_by_issuance_of_bonds),
        cash_by_other_financing = VALUES(cash_by_other_financing),
        sum_financing_revenue = VALUES(sum_financing_revenue),
        repayment_debt_payable = VALUES(repayment_debt_payable),
        dividend_profit_interest_payable = VALUES(dividend_profit_interest_payable),
        subsidiary_payable = VALUES(subsidiary_payable),
        buy_subsidiary_payable = VALUES(buy_subsidiary_payable),
        other_financing_payable = VALUES(other_financing_payable),
        subsidiary_reduce_capital = VALUES(subsidiary_reduce_capital),
        sum_financing_payable = VALUES(sum_financing_payable),
        net_cash_in_financing = VALUES(net_cash_in_financing),
        financing_cash_in_other = VALUES(financing_cash_in_other),
        financing_cash_in_balance = VALUES(financing_cash_in_balance),
        financing_cash_out_other = VALUES(financing_cash_out_other),
        financing_cash_out_balance = VALUES(financing_cash_out_balance),
        financing_net_cash_other = VALUES(financing_net_cash_other),
        financing_net_cash_balance = VALUES(financing_net_cash_balance),
        effect_exchange_rate = VALUES(effect_exchange_rate),
        net_increase_in_cash_equi = VALUES(net_increase_in_cash_equi),
        cash_in_period_beginning = VALUES(cash_in_period_beginning),
        cash_in_period_ending = VALUES(cash_in_period_ending),
        net_increase_in_cash_equi_other = VALUES(net_increase_in_cash_equi_other),
        net_increase_in_cash_equi_balance = VALUES(net_increase_in_cash_equi_balance),
        cash_in_period_ending_other = VALUES(cash_in_period_ending_other),
        cash_in_period_ending_balance = VALUES(cash_in_period_ending_balance),
        net_profit = VALUES(net_profit),
        asset_reduce_value = VALUES(asset_reduce_value),
        fixed_estate_asset_depreciation = VALUES(fixed_estate_asset_depreciation),
        fixed_gass_production_asset_depr = VALUES(fixed_gass_production_asset_depr),
        estate_invest_depr = VALUES(estate_invest_depr),
        amortization_of_intangible_asset = VALUES(amortization_of_intangible_asset),
        amortization_of_long_term_expense = VALUES(amortization_of_long_term_expense),
        amortization_of_deferred_income = VALUES(amortization_of_deferred_income),
        reduced_cost_of_apportioned = VALUES(reduced_cost_of_apportioned),
        drawing_expense_add = VALUES(drawing_expense_add),
        loss_on_disponse_assert = VALUES(loss_on_disponse_assert),
        loss_on_fixed_asset = VALUES(loss_on_fixed_asset),
        loss_on_fair_value = VALUES(loss_on_fair_value),
        financial_expense = VALUES(financial_expense),
        loss_on_invest = VALUES(loss_on_invest),
        deferred_income_tax = VALUES(deferred_income_tax),
        deferred_income_tax_reduction = VALUES(deferred_income_tax_reduction),
        deferred_income_tax_liab_add = VALUES(deferred_income_tax_liab_add),
        anticipate_liab_add = VALUES(anticipate_liab_add),
        inventory_reduce = VALUES(inventory_reduce),
        operating_reduce = VALUES(operating_reduce),
        operating_pay_add = VALUES(operating_pay_add),
        net_cash_of_operating_other_sup = VALUES(net_cash_of_operating_other_sup),
        net_cash_of_operating_balance_sup = VALUES(net_cash_of_operating_balance_sup),
        net_cash_of_operating = VALUES(net_cash_of_operating),
        debt_to_capital = VALUES(debt_to_capital),
        cboneyear = VALUES(cboneyear),
        fixed_asset_under_financing_lease = VALUES(fixed_asset_under_financing_lease),
        no_refer_cash_other = VALUES(no_refer_cash_other),
        period_ending_cash = VALUES(period_ending_cash),
        period_beginning_cash = VALUES(period_beginning_cash),
        period_ending_money_equivalent = VALUES(period_ending_money_equivalent),
        period_beginning_money_equivalent = VALUES(period_beginning_money_equivalent),
        money_equivalent_other = VALUES(money_equivalent_other),
        money_equivalent_balance = VALUES(money_equivalent_balance),
        money_equivalent_net_add = VALUES(money_equivalent_net_add)
    </insert>
</mapper>