<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moondev.spider.mapper.CompanyMapper">

    <resultMap id="companyMap" type="cn.moondev.spider.model.Company">
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="transfer" property="transfer"/>
        <result column="level" property="level"/>
        <result column="supervision" property="supervision"/>
        <result column="listing_supervision" property="listingSupervision"/>
        <result column="english_name" property="englishName"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_type" property="stockType"/>
        <result column="stock_short_name" property="stockShortName"/>
        <result column="bond_type" property="bondType"/>
        <result column="industry" property="industry"/>
        <result column="exchange" property="exchange"/>
        <result column="legal_person" property="legalPerson"/>
        <result column="chairman" property="chairman"/>
        <result column="secretary" property="secretary"/>
        <result column="contact" property="contact"/>
        <result column="email" property="email"/>
        <result column="fax" property="fax"/>
        <result column="website" property="website"/>
        <result column="office_address" property="officeAddress"/>
        <result column="register_address" property="registerAddress"/>
        <result column="capital" property="capital"/>
        <result column="business_regist" property="businessRegist"/>
        <result column="employee_num" property="employeeNum"/>
        <result column="manager_num" property="managerNum"/>
        <result column="law_office" property="lawOffice"/>
        <result column="accounting_firm" property="accountingFirm"/>
        <result column="brief" property="brief"/>
        <result column="business_scope" property="businessScope"/>
        <result column="establish_date" property="establishDate"/>
        <result column="listing_date" property="listingDate"/>
        <result column="ipope_ratio" property="ipopeRatio"/>
        <result column="issue_date" property="issueDate"/>
        <result column="first_trade_date" property="firstTradeDate"/>
        <result column="issue_way" property="issueWay"/>
        <result column="per_share_value" property="perShareValue"/>
        <result column="circulation" property="circulation"/>
        <result column="flow_equity" property="flowEquity"/>
        <result column="per_share_price" property="perSharePrice"/>
        <result column="issue_cost" property="issueCost"/>
        <result column="market_value" property="marketValue"/>
        <result column="placement" property="placement"/>
        <result column="open_price_first_day" property="openPriceFirstDay"/>
        <result column="close_price_first_day" property="closePriceFirstDay"/>
        <result column="turnover_rate_first_day" property="turnoverRateFirstDay"/>
        <result column="max_price_first_day" property="maxPriceFirstDay"/>
        <result column="offline_lot_winning_rate" property="offlineLotWinningRate"/>
        <result column="pricing_lot_winning_rate" property="pricingLotWinningRate"/>
    </resultMap>

    <insert id="upsert">
        INSERT INTO t_company(
        company_name,
        transfer,
        `level`,
        supervision,
        listing_supervision,
        english_name,
        stock_code,
        stock_type,
        stock_short_name,
        bond_type,
        industry,
        exchange,
        legal_person,
        chairman,
        secretary,
        contact,
        email,
        fax,
        website,
        office_address,
        register_address,
        capital,
        business_regist,
        employee_num,
        manager_num,
        law_office,
        accounting_firm,
        brief,
        business_scope,
        establish_date,
        listing_date,
        ipope_ratio,
        issue_date,
        first_trade_date,
        issue_way,
        per_share_value,
        circulation,
        flow_equity,
        per_share_price,
        issue_cost,
        market_value,
        placement,
        open_price_first_day,
        close_price_first_day,
        turnover_rate_first_day,
        max_price_first_day,
        offline_lot_winning_rate,
        pricing_lot_winning_rate
) VALUES (
        #{item.companyName},
        #{item.transfer},
        #{item.level},
        #{item.supervision},
        #{item.listingSupervision},
        #{item.englishName},
        #{item.stockCode},
        #{item.stockType},
        #{item.stockShortName},
        #{item.bondType},
        #{item.industry},
        #{item.exchange},
        #{item.legalPerson},
        #{item.chairman},
        #{item.secretary},
        #{item.contact},
        #{item.email},
        #{item.fax},
        #{item.website},
        #{item.officeAddress},
        #{item.registerAddress},
        #{item.capital},
        #{item.businessRegist},
        #{item.employeeNum},
        #{item.managerNum},
        #{item.lawOffice},
        #{item.accountingFirm},
        #{item.brief},
        #{item.businessScope},
        #{item.establishDate},
        #{item.listingDate},
        #{item.ipopeRatio},
        #{item.issueDate},
        #{item.firstTradeDate},
        #{item.issueWay},
        #{item.perShareValue},
        #{item.circulation},
        #{item.flowEquity},
        #{item.perSharePrice},
        #{item.issueCost},
        #{item.marketValue},
        #{item.placement},
        #{item.openPriceFirstDay},
        #{item.closePriceFirstDay},
        #{item.turnoverRateFirstDay},
        #{item.maxPriceFirstDay},
        #{item.offlineLotWinningRate},
        #{item.pricingLotWinningRate}
)ON DUPLICATE KEY UPDATE
        company_name = VALUES(company_name),
        transfer = VALUES(transfer),
        `level` = VALUES(level),
        supervision = VALUES(supervision),
        listing_supervision = VALUES(listing_supervision),
        english_name = VALUES(english_name),
        stock_type = VALUES(stock_type),
        stock_short_name = VALUES(stock_short_name),
        bond_type = VALUES(bond_type),
        industry = VALUES(industry),
        exchange = VALUES(exchange),
        legal_person = VALUES(legal_person),
        chairman = VALUES(chairman),
        secretary = VALUES(secretary),
        contact = VALUES(contact),
        email = VALUES(email),
        fax = VALUES(fax),
        website = VALUES(website),
        office_address = VALUES(office_address),
        register_address = VALUES(register_address),
        capital = VALUES(capital),
        business_regist = VALUES(business_regist),
        employee_num = VALUES(employee_num),
        manager_num = VALUES(manager_num),
        law_office = VALUES(law_office),
        accounting_firm = VALUES(accounting_firm),
        brief = VALUES(brief),
        business_scope = VALUES(business_scope),
        establish_date = VALUES(establish_date),
        listing_date = VALUES(listing_date),
        ipope_ratio = VALUES(ipope_ratio),
        issue_date = VALUES(issue_date),
        first_trade_date = VALUES(first_trade_date),
        issue_way = VALUES(issue_way),
        per_share_value = VALUES(per_share_value),
        circulation = VALUES(circulation),
        flow_equity = VALUES(flow_equity),
        per_share_price = VALUES(per_share_price),
        issue_cost = VALUES(issue_cost),
        market_value = VALUES(market_value),
        placement = VALUES(placement),
        open_price_first_day = VALUES(open_price_first_day),
        close_price_first_day = VALUES(close_price_first_day),
        turnover_rate_first_day = VALUES(turnover_rate_first_day),
        max_price_first_day = VALUES(max_price_first_day),
        offline_lot_winning_rate = VALUES(offline_lot_winning_rate),
        pricing_lot_winning_rate = VALUES(pricing_lot_winning_rate)
    </insert>

    <select id="getCompanyByName" resultMap="companyMap">
        select company_name,stock_code
        from t_company
        where company_name like "%"#{name}"%"
    </select>
</mapper>